@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    <footer>
        <div class="container">
            <div class="row">
                <h4 class="text-center">
                    Contact us...
                </h4>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <p>
                        Phone:
                        <strong>(08) 8294 1897</strong>
                    </p>
                    <p>
                        Email:
                        <strong><a href="mailto:wrayeng@bigpond.com">wrayeng@bigpond.com</a></strong>
                    </p>
                    <p>
                        Address:
                        <strong>
                            Unit 2/41 Byre Avenue
                            <br>Somerton Park, SA
                        </strong>
                    </p>
                    <p>Copyright &copy; Wray Engineering 2016</p>
                </div>
                <div class="col-md-8">
                    <form role="form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <!--<label>Name</label>-->
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group col-md-6">
                                <!--<label>Email Address</label>-->
                                <input type="email" class="form-control" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <!--<label>Message</label>-->
                                <textarea class="form-control" rows="6" placeholder="Message"></textarea>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!--<label>Phone Number</label>-->
                                    <input type="tel" class="form-control" placeholder="Phone Number">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
}