@inherits UmbracoTemplatePage
@{
    if (Model.Content.HasProperty("headingImage") && Model.Content.HasValue("headingImage"))
        {
        var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("headingImage").ToString());
        if (mediaItem != null && mediaItem.Id > 0)
            {
            var imageUrl = !string.IsNullOrEmpty(mediaItem.GetCropUrl("pageHeading")) ? mediaItem.GetCropUrl("pageHeading") : mediaItem.GetCropUrl(700, 300);
            <div class="col-lg-12 text-center headerImage">
                <img class="img-responsive img-full center-block img-thumbnail" src="@imageUrl" alt="@Model.Content.Name">
            </div>
            }
        }
}
