@inherits UmbracoTemplatePage
@{
    var siteDefaultName = "Wray Engineering Ltd ";
    string title;
    string metaKeywords = "";
    string metaDescription = "";
    var siteSetting = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "GlobalSettings");

    if (siteSetting != null && siteSetting.Id > 0 && siteSetting.Descendants("SiteDetails").Any())
        {
        var siteDetailsPage = siteSetting.Descendants("SiteDetails").FirstOrDefault();
        if (siteDetailsPage != null && siteDetailsPage.Id > 0)
            {

            if (siteDetailsPage.HasProperty("siteName") && siteDetailsPage.HasValue("siteName"))
                {
                siteDefaultName = siteDetailsPage.GetPropertyValue("siteName").ToString();
                }

            if (siteDetailsPage.HasProperty("defaultKeyWords") && siteDetailsPage.HasValue("defaultKeyWords"))
                {
                metaKeywords = siteDetailsPage.GetPropertyValue("defaultKeyWords").ToString();
                }

            if (siteDetailsPage.HasProperty("defaultMetaDescription") && siteDetailsPage.HasValue("defaultMetaDescription"))
                {
                metaDescription = siteDetailsPage.GetPropertyValue("defaultMetaDescription").ToString();
                }
            }
        }

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    if (Model.Content.HasProperty("browserTitle") && Model.Content.HasValue("browserTitle"))
        {
        title = CurrentPage.browserTitle.ToString();
        }
    else
        {
        title = CurrentPage.Name.ToString() + " | " + siteDefaultName;
        }
        <title>@title</title>

    if (Model.Content.HasProperty("metaKeywords") && Model.Content.HasValue("metaKeywords"))
        {
        metaKeywords = CurrentPage.metaKeywords.ToString() + " , " + metaKeywords + " , " + CurrentPage.Name.ToString();
        }
    else
        {
        metaKeywords = CurrentPage.Name.ToString() + " , " + metaKeywords + " , " + siteDefaultName;
        }
        <meta name="keywords" content="@metaKeywords" />

    if (Model.Content.HasProperty("metaDescription") && Model.Content.HasValue("metaDescription"))
        {
        metaDescription = CurrentPage.metaDescription.ToString() + " - " + metaDescription;
        }
    else
        {
        metaDescription = CurrentPage.Name.ToString() + " - " + metaDescription + " - " + siteDefaultName;
        }
        <meta name="description" content="@metaDescription" />
        <meta name="author" content="Denford R Mutseriwa - http://rdmonline.co.uk" />

}