@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    <div class="container box">
        <div class="row">
            <div class="col-md-12">
                <div class="brand">
                    <a href="#">
                        <img src="/Images/Wray_Engineering.png" alt="Wray Engineering" width="200" height="78">
                        <span class="brandHeading">
                            Wray Engineering
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="address-bar">Unit 2/41 Byre Avenue |Somerton Park, SA | (08) 8294 1897</div>
            </div>
        </div>
    </div>
}
