@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    <div class="row">
        <div class="box">
            <div class="col-md-12">
                <hr>
                <h2 class="intro-text text-center">
                    Our Speciality includes...
                </h2>
                <hr>
            </div>
            <div class="col-sm-3 text-center">
                <img class="img-responsive" src="/Images/wray_engineering_Home.jpg" alt="">
                <h4>
                    Fabrication
                </h4>
            </div>
            <div class="col-sm-3 text-center">
                <img class="img-responsive" src="/Images/wray_engineering_Home1.jpg" alt="">
                <h4>
                    Fitting
                </h4>
            </div>
            <div class="col-sm-3 text-center">
                <img class="img-responsive" src="/Images/wray_engineering_Home2.jpg" alt="">
                <h4>
                    Engineers Machining
                </h4>
            </div>
            <div class="col-sm-3 text-center">
                <img class="img-responsive" src="/Images/wray_engineering_Home3.jpg" alt="">
                <h4>
                    General & Maintenance
                </h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}