{
  "Id": "123404849",
  "AccountId": "78895331",
  "WebPropertyId": "UA-78895331-1",
  "InternalWebPropertyId": "117966443",
  "Name": "All Web Site Data",
  "Currency": "USD",
  "Timezone": "Australia/Adelaide",
  "WebsiteUrl": "http://wrayengineering.com.au",
  "Type": "WEB",
  "Created": "2016-06-07T22:09:17.88+09:30",
  "Updated": "2016-06-07T22:09:17.88+09:30"
}