<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT GlobalSettings ANY>
<!ATTLIST GlobalSettings id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT SiteDetails ANY>
<!ATTLIST SiteDetails id ID #REQUIRED>
<!ELEMENT SiteMaster ANY>
<!ATTLIST SiteMaster id ID #REQUIRED>
<!ELEMENT SliderItem ANY>
<!ATTLIST SliderItem id ID #REQUIRED>
<!ELEMENT SlidersContainer ANY>
<!ATTLIST SlidersContainer id ID #REQUIRED>
<!ELEMENT StandardTextPage ANY>
<!ATTLIST StandardTextPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1056" key="46f192d3-8fb9-4d3d-bc7c-4338169b0dde" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-09T21:32:57" updateDate="2016-05-09T21:32:57" nodeName="Home" urlName="home" path="-1,1056" isDoc="" nodeType="1047" creatorName="Denford" writerName="Denford" writerID="0" template="1055" nodeTypeAlias="HomePage">
    <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
    <hideFromMenu>0</hideFromMenu>
    <hideFromSideMenu>0</hideFromSideMenu>
    <StandardTextPage id="1061" key="3db7b082-9ea0-4b09-8a56-6a8b4cd1f5ab" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2016-05-09T22:27:34" updateDate="2016-05-09T22:27:34" nodeName="About" urlName="about" path="-1,1056,1061" isDoc="" nodeType="1048" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="StandardTextPage">
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
    </StandardTextPage>
    <contact id="1062" key="b544c4cb-b4f7-4085-b025-d5bf6b70fa4f" parentID="1056" level="2" creatorID="0" sortOrder="1" createDate="2016-05-09T22:28:01" updateDate="2016-05-09T22:28:01" nodeName="Contact" urlName="contact" path="-1,1056,1062" isDoc="" nodeType="1059" creatorName="Denford" writerName="Denford" writerID="0" template="1060" nodeTypeAlias="contact">
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
    </contact>
  </HomePage>
  <GlobalSettings id="1063" key="592f763a-d7ef-4966-b25e-bf7ddce89138" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-05-19T21:52:19" updateDate="2016-05-19T21:52:19" nodeName="Global Settings" urlName="global-settings" path="-1,1063" isDoc="" nodeType="1049" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="GlobalSettings">
    <SiteDetails id="1065" key="7c2efc62-9ca6-4e9f-882c-c98ac13c7e34" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2016-05-19T22:19:09" updateDate="2016-05-19T22:19:09" nodeName="Site Details" urlName="site-details" path="-1,1063,1065" isDoc="" nodeType="1064" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SiteDetails">
      <siteName><![CDATA[Wray Engineering]]></siteName>
      <sitePhoneNumber><![CDATA[(08) 8294 1897]]></sitePhoneNumber>
      <facebookPage><![CDATA[www.facebook.com/Wray-Engineering-887489801367413]]></facebookPage>
      <siteEmailAddress><![CDATA[wrayeng@bigpond.com]]></siteEmailAddress>
      <siteAddress><![CDATA[Unit 2/41 Byre Avenue Somerton Park, SA]]></siteAddress>
      <defaultMetaDescription><![CDATA[We are a family run engineering company that specialises in Fabrications, Fittings, Engineers Machining and General Maintenance.]]></defaultMetaDescription>
      <defaultKeyWords><![CDATA[Wray Engineering, Engineering in South Australia, Engineering in Adelaide, Fabrications, Engineers, Machining, Maintenance]]></defaultKeyWords>
    </SiteDetails>
  </GlobalSettings>
</root>