<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT GlobalSettings ANY>
<!ATTLIST GlobalSettings id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT SiteDetails ANY>
<!ATTLIST SiteDetails id ID #REQUIRED>
<!ELEMENT SiteMaster ANY>
<!ATTLIST SiteMaster id ID #REQUIRED>
<!ELEMENT SliderItem ANY>
<!ATTLIST SliderItem id ID #REQUIRED>
<!ELEMENT SlidersContainer ANY>
<!ATTLIST SlidersContainer id ID #REQUIRED>
<!ELEMENT StandardTextPage ANY>
<!ATTLIST StandardTextPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1056" key="46f192d3-8fb9-4d3d-bc7c-4338169b0dde" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-09T21:32:57" updateDate="2016-06-01T21:13:01" nodeName="Home" urlName="home" path="-1,1056" isDoc="" nodeType="1047" creatorName="Denford" writerName="Denford" writerID="0" template="1055" nodeTypeAlias="HomePage">
    <linkTittle><![CDATA[Home Page]]></linkTittle>
    <pageHeading><![CDATA[About Wray Engineering...]]></pageHeading>
    <bodyText><![CDATA[<p>We are a family run engineering company that specialises in Fabrications, Fittings, Engineers Machining and General Maintenance and are based in South Australia , Adelaide, Somerton Park.</p>]]></bodyText>
    <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
    <hideFromMenu>0</hideFromMenu>
    <hideFromSideMenu>0</hideFromSideMenu>
    <StandardTextPage id="1061" key="3db7b082-9ea0-4b09-8a56-6a8b4cd1f5ab" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2016-05-09T22:27:34" updateDate="2016-05-29T21:49:08" nodeName="About" urlName="about" path="-1,1056,1061" isDoc="" nodeType="1048" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="StandardTextPage">
      <linkTittle><![CDATA[About Us]]></linkTittle>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
    </StandardTextPage>
    <contact id="1062" key="b544c4cb-b4f7-4085-b025-d5bf6b70fa4f" parentID="1056" level="2" creatorID="0" sortOrder="1" createDate="2016-05-09T22:28:01" updateDate="2016-05-29T21:49:33" nodeName="Contact" urlName="contact" path="-1,1056,1062" isDoc="" nodeType="1059" creatorName="Denford" writerName="Denford" writerID="0" template="1060" nodeTypeAlias="contact">
      <linkTittle><![CDATA[Contact Wray]]></linkTittle>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
    </contact>
  </HomePage>
  <GlobalSettings id="1063" key="592f763a-d7ef-4966-b25e-bf7ddce89138" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-05-19T21:52:19" updateDate="2016-05-19T21:52:19" nodeName="Global Settings" urlName="global-settings" path="-1,1063" isDoc="" nodeType="1049" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="GlobalSettings">
    <SiteDetails id="1065" key="7c2efc62-9ca6-4e9f-882c-c98ac13c7e34" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2016-05-19T22:19:09" updateDate="2016-06-02T21:36:32" nodeName="Site Details" urlName="site-details" path="-1,1063,1065" isDoc="" nodeType="1064" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SiteDetails">
      <siteName><![CDATA[Wray Engineering]]></siteName>
      <sitePhoneNumber><![CDATA[(08) 8294 1897]]></sitePhoneNumber>
      <facebookPage><![CDATA[https://www.facebook.com/Wray-Engineering-887489801367413/]]></facebookPage>
      <siteEmailAddress><![CDATA[wrayeng@bigpond.com]]></siteEmailAddress>
      <siteAddress><![CDATA[Unit 2/41, Byre Avenue, Somerton Park, SA 5044]]></siteAddress>
      <defaultMetaDescription><![CDATA[We are a family run engineering company that specialises in Fabrications, Fittings, Engineers Machining and General Maintenance.]]></defaultMetaDescription>
      <defaultKeyWords><![CDATA[Wray Engineering, Engineering in South Australia, Engineering in Adelaide, Fabrications, Engineers, Machining, Maintenance]]></defaultKeyWords>
      <siteSpecialties><![CDATA[{"fieldsets":[{"properties":[{"alias":"image","value":"1071"},{"alias":"heading","value":"Fabrication"}],"alias":"specialities","disabled":false,"id":"33527135-d57b-424a-967c-054853fb1738"},{"properties":[{"alias":"heading","value":"Fitting"},{"alias":"image","value":"1072"}],"alias":"specialities","disabled":false,"id":"a6008fee-840a-45be-9063-3120b9a4cd7d"},{"properties":[{"alias":"heading","value":"Engineers Machining"},{"alias":"image","value":"1073"}],"alias":"specialities","disabled":false,"id":"05b7a8d8-88c0-4c45-ae86-09c4fe31ed6a"},{"properties":[{"alias":"heading","value":"General & Maintenance"},{"alias":"image","value":"1074"}],"alias":"specialities","disabled":false,"id":"123de349-0ee5-4449-a723-dd84677218b2"}]}]]></siteSpecialties>
      <rightHeaderLogo>1068</rightHeaderLogo>
    </SiteDetails>
    <SlidersContainer id="1069" key="96711db4-cc0c-4f5f-adc2-84b55aed148c" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2016-05-30T21:35:02" updateDate="2016-05-30T21:35:02" nodeName="Home Page Slider" urlName="home-page-slider" path="-1,1063,1069" isDoc="" nodeType="1050" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SlidersContainer">
      <SliderItem id="1075" key="c958537e-eaef-489a-8d2d-5a0db8317597" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2016-05-30T21:59:52" updateDate="2016-05-31T21:34:58" nodeName="Fabrication" urlName="fabrication" path="-1,1063,1069,1075" isDoc="" nodeType="1052" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SliderItem">
        <sliderLinkPage>1061</sliderLinkPage>
        <sliderText><![CDATA[Fabrication ]]></sliderText>
        <sliderImage>1071</sliderImage>
        <sliderHeading><![CDATA[We specialise in Fabrications]]></sliderHeading>
      </SliderItem>
      <SliderItem id="1076" key="4e3fd7c0-a800-4b46-ba48-cebcc76a53e2" parentID="1069" level="3" creatorID="0" sortOrder="1" createDate="2016-05-30T22:04:01" updateDate="2016-05-31T21:36:27" nodeName="Fitting" urlName="fitting" path="-1,1063,1069,1076" isDoc="" nodeType="1052" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SliderItem">
        <sliderLinkPage>1061</sliderLinkPage>
        <sliderText><![CDATA[Fitting]]></sliderText>
        <sliderImage>1072</sliderImage>
        <sliderHeading><![CDATA[We also do fittings]]></sliderHeading>
      </SliderItem>
      <SliderItem id="1077" key="3e988d1d-b857-4f17-a94f-08d8c8e77440" parentID="1069" level="3" creatorID="0" sortOrder="2" createDate="2016-05-30T22:11:10" updateDate="2016-05-31T21:39:27" nodeName="Engineers Machining" urlName="engineers-machining" path="-1,1063,1069,1077" isDoc="" nodeType="1052" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SliderItem">
        <sliderLinkPage>1061</sliderLinkPage>
        <sliderText><![CDATA[Engineers Machining]]></sliderText>
        <sliderImage>1073</sliderImage>
        <sliderHeading><![CDATA[We have the right equiptment for Machining]]></sliderHeading>
      </SliderItem>
      <SliderItem id="1078" key="398e152c-44ee-4ce3-b5d8-3fa959e5879d" parentID="1069" level="3" creatorID="0" sortOrder="3" createDate="2016-05-30T22:13:52" updateDate="2016-05-30T22:13:52" nodeName="General &amp; Maintenance" urlName="general-maintenance" path="-1,1063,1069,1078" isDoc="" nodeType="1052" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SliderItem">
        <sliderLinkPage>1062</sliderLinkPage>
        <sliderText><![CDATA[General & Maintenance]]></sliderText>
        <sliderImage>1074</sliderImage>
        <sliderHeading><![CDATA[Get in touch for any General & Maintenance]]></sliderHeading>
      </SliderItem>
    </SlidersContainer>
  </GlobalSettings>
</root>