@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SiteMaster.cshtml";

    @Html.Partial("Home/Slider")

    <div class="row">
        <div class="box">

            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        About Wray Engineering...
                    </h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <p>
                        We are wray engineering We are wray engineering We are wray engineering We are wray engineering
                        We are wray engineering We are wray engineering We are wray engineering We are wray engineering
                        We are wray engineering We are wray engineering We are wray engineering We are wray engineering
                        We are wray engineering We are wray engineering We are wray engineering
                    </p>
                    <p>
                        We are wray engineering We are wray engineering We are wray engineering We are wray engineering
                        We are wray engineering We are wray engineering We are wray engineering We are wray engineering
                        We are wray engineering We are wray engineering We are wray engineering We are wray engineering
                        We are wray engineering We are wray engineering We are wray engineering
                    </p>
                </div>
                <div class="col-md-5">
                    <!--Facebook script - Start -->
                    <div id="fb-root"></div>
                    <script>
                            (function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s);
                                js.id = id;
                                js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=825414407581475";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <!--Facebook script - End -->
                    <!--<hr>
                    <h4 class="intro-text text-center">
                        Visit our Facebook Page
                    </h4>
                    <hr>-->
                    <div class="fb-page"
                         data-href="www.facebook.com/Wray-Engineering-887489801367413"
                         data-tabs="timeline"
                         data-width="450"
                         data-height="400"
                         data-small-header="false"
                         data-adapt-container-width="true"
                         data-hide-cover="false" data-show-facepile="false">

                    </div>
                </div>
            </div>
        </div>
    </div>

}