<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Wray Engineering - Home</title>
    <!-- Bootstrap Core CSS -->
    <link href="/Css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Css/styles.css" rel="stylesheet">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container box">
        <div class="row">
            <div class="col-md-12">
                <div class="brand">
                    <a href="#">
                        <img src="/Images/Wray_Engineering.png" alt="Wray Engineering" width="200" height="78">
                        <span class="brandHeading">
                            Wray Engineering
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="address-bar">Unit 2/41 Byre Avenue |Somerton Park, SA | (08) 8294 1897</div>
            </div>
        </div>
    </div>
    <!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="#">Wray Engineering</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

    @RenderBody()

<div class="container">
        <div class="row">
            <div class="box">
                <div class="col-md-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/Images/wray_engineering_Home.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/Images/wray_engineering_Home1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/Images/wray_engineering_Home2.jpg" alt="">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">

                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <h2 class="intro-text text-center">
                            About Wray Engineering...
                        </h2>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <p>
                            We are wray engineering We are wray engineering We are wray engineering We are wray engineering
                            We are wray engineering We are wray engineering We are wray engineering We are wray engineering
                            We are wray engineering We are wray engineering We are wray engineering We are wray engineering
                            We are wray engineering We are wray engineering We are wray engineering
                        </p>
                        <p>
                            We are wray engineering We are wray engineering We are wray engineering We are wray engineering
                            We are wray engineering We are wray engineering We are wray engineering We are wray engineering
                            We are wray engineering We are wray engineering We are wray engineering We are wray engineering
                            We are wray engineering We are wray engineering We are wray engineering
                        </p>
                    </div>
                    <div class="col-md-5">
                        <!--Facebook script - Start -->
                        <div id="fb-root"></div>
                        <script>
                            (function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s);
                                js.id = id;
                                js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=825414407581475";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <!--Facebook script - End -->
                        <!--<hr>
                        <h4 class="intro-text text-center">
                            Visit our Facebook Page
                        </h4>
                        <hr>-->
                        <div class="fb-page"
                             data-href="www.facebook.com/Wray-Engineering-887489801367413"
                             data-tabs="timeline"
                             data-width="450"
                             data-height="400"
                             data-small-header="false"
                             data-adapt-container-width="true"
                             data-hide-cover="false" data-show-facepile="false">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-md-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Our Speciality includes...
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="/Images/wray_engineering_Home.jpg" alt="">
                    <h4>
                        Fabrication
                    </h4>
                </div>
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="/Images/wray_engineering_Home1.jpg" alt="">
                    <h4>
                        Fitting
                    </h4>
                </div>
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="/Images/wray_engineering_Home2.jpg" alt="">
                    <h4>
                        Engineers Machining
                    </h4>
                </div>
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="/Images/wray_engineering_Home3.jpg" alt="">
                    <h4>
                        General & Maintenance
                    </h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <footer>
        <div class="container">
            <div class="row">
                <h4 class="text-center">
                    Contact us...
                </h4>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <p>
                        Phone:
                        <strong>(08) 8294 1897</strong>
                    </p>
                    <p>
                        Email:
                        <strong><a href="mailto:wrayeng@bigpond.com">wrayeng@bigpond.com</a></strong>
                    </p>
                    <p>
                        Address:
                        <strong>
                            Unit 2/41 Byre Avenue
                            <br>Somerton Park, SA
                        </strong>
                    </p>
                    <p>Copyright &copy; Wray Engineering 2016</p>
                </div>
                <div class="col-md-8">
                    <form role="form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <!--<label>Name</label>-->
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group col-md-6">
                                <!--<label>Email Address</label>-->
                                <input type="email" class="form-control" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <!--<label>Message</label>-->
                                <textarea class="form-control" rows="6" placeholder="Message"></textarea>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!--<label>Phone Number</label>-->
                                    <input type="tel" class="form-control" placeholder="Phone Number">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Scripts/bootstrap.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>
</body>
</html>
